<main role="main">


      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Listing Articles</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>


      <%= form_with url: articles_path,local:true ,:method => 'get' do  |form|%>
        <p>
          <%= form.text_field :search,:value=> params[:search], :placeholder=>"Search article" %>
          <%= form.submit "Search" ,:name=>nil %>
        </p>
      <% end %>


            <%= link_to 'Add Your Article Now', new_article_path, :class => "btn btn-primary my-2"  %>
          </p>
        </div>
      </section>


      <%= render 'articleslist'%>

    </main>


