<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Written By</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.user.email %></td>
      <td><%= link_to 'Show', article_path(article) %></td>


      <% if user_signed_in?%>
        <%unless current_user.id != article.user_id %>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        <%end%>  
      <%end%>

      
    </tr>
  <% end %>
</table>

<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Listing Articles</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>


      <% @articles.each do |article| %>
        

        <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%=image_tag article.imageFile, :class=>"card-img-top",:style=>"height:225px;"%>
                <div class="card-body">
                  <p class="card-text"><strong><%= article.title %></strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'Show', article_path(article), :class => "btn btn-sm btn-outline-secondary"  %>
                      <% if user_signed_in?%>
                        <%unless current_user.id != article.user_id %>
                          <td><%= link_to 'Edit', edit_article_path(article), :class => "btn btn-sm btn-outline-secondary"   %></td>
                          <td><%= link_to 'Destroy', article_path(article),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } , :class => "btn btn-sm btn-outline-secondary"  %></td>
                        <%end%>  
                      <%end%>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

      <% end %>
      
            
          </div>
        </div>
      </div>

    </main>


